.ng-select-clean {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 0;
  height: 38px; /* altura do botão padrão */
}

.ng-select-clean .ng-select-container {
  border: none !important;
  box-shadow: none !important;
  height: 100%;
  padding: 0 0.5rem;
  align-items: center;
  display: flex;
}

.ng-select-clean .ng-select-container .ng-value-container {
  padding: 0 !important;
  display: flex;
  align-items: center;
  height: 100%;
}

.ng-select-clean .ng-select-container .ng-arrow-wrapper {
  display: flex;
  align-items: center;
}

/*
  Estilo unificado para todos os campos não-editáveis do formulário.
*/
:host ::ng-deep input[readonly],
:host ::ng-deep input:disabled,
:host ::ng-deep select:disabled,
:host ::ng-deep textarea:disabled,
:host ::ng-deep .ng-select.ng-select-disabled .ng-select-container {
  background-color: #e9ecef; /* Cor cinza padrão do Bootstrap para campos desabilitados */
  cursor: not-allowed;     /* Exibe o cursor de "proibido" */
  opacity: 1;              /* Garante que o fundo cinza não fique transparente */
}

.input-group-disabled {
  cursor: not-allowed;
}

/* Garante que os itens dentro do grupo também herdem o cursor */
.input-group-disabled .btn,
.input-group-disabled .ng-select {
  cursor: not-allowed;
}
