<app-form-layout [form]="form" [auditoriaData]="auditoria" [titulo]="isEditando ? 'Editar Modelo' : 'Cadastrar Modelo'"
  [isLoading]="isLoading" [isEditMode]="isEditando" (save)="onSubmit()" (cancel)="onCancelar()" (delete)="onExcluir()">

  <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
    <div class="mb-3">
      <label for="nome" class="form-label">Nome do Modelo <span class="text-danger">*</span></label>
      <input type="text" id="nome" class="form-control" formControlName="nome" placeholder="Digite o nome">
      <div *ngIf="form.get('nome')?.invalid && (form.get('nome')?.touched || form.get('nome')?.dirty)"
        class="text-danger">
        Nome é obrigatório e deve ter pelo menos 2 caracteres.
      </div>
    </div>

    <div class="mb-3">
      <label for="idMarca" class="form-label">Marca <span class="text-danger">*</span></label>
      <select id="idMarca" class="form-select" formControlName="idMarca">
        <option value="">Selecione a marca</option>
        <option *ngFor="let marca of marcas" [value]="marca.id">{{ marca.nome }}</option>
      </select>
      <div *ngIf="form.get('idMarca')?.invalid && (form.get('idMarca')?.touched || form.get('idMarca')?.dirty)"
        class="text-danger">
        Selecione uma marca.
      </div>
    </div>
  </form>
</app-form-layout>
